@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: center;
    opacity: 80%;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(36, 224, 36);
}

a:active {
    color: rgb(255, 255, 255);
}

button {
    position: fixed;
    margin-right: 0;
}

body {
    background-image: url('Attack2.gif');
    background-color: black;
}

.center {
    margin-top: 20%;
    margin-bottom: 10%;
    width: 100%;
    float: right;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Staatliches','Times New Roman', Times, serif;
    font-size: 50px;
    opacity: 80%;
}

h1 span {
    color: rgb(36, 224, 36);
    opacity: 60%;
}

h6 {
    color: white;
    text-align: right;
    font-family: 'Staatliches','Times New Roman', Times, serif;
    font-size: 50px;
    opacity: 80%;
    padding-right: 250px;
}

.spacing {
    line-height: 200%;
}

.footer {
    background-color: rgb(184, 184, 184);
    opacity: 50%;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    height: 1.4rem;
}

#page-container {
    position: relative;
    min-height: 100vh;
}
  
#content-wrap {
    padding-bottom: 2.5rem;
}

@media only screen and (min-width: 768px) {
    
    .center {
        margin-top: 10%;
        margin-bottom: 10%;
        width: 60%;
    }
    
    h1 {
        color: white;
        text-align: right;
        font-family: 'Staatliches','Times New Roman', Times, serif;
        font-size: 50px;
        opacity: 80%;
    }

    h6 {
        color: white;
        text-align: center;
        font-family: 'Staatliches','Times New Roman', Times, serif;
        font-size: 50px;
        opacity: 80%;
        padding-right: 250px;
    }

    header {
        text-align: center;
        margin-top: 5px;
        text-decoration: none;
    }
}

@media only screen and (min-width: 1000px) {
    
    .center {
        margin-top: 10%;
        margin-bottom: 10%;
        width: 60%;
    }
    
    h1 {
        color: white;
        text-align: left;
        font-family: 'Staatliches','Times New Roman', Times, serif;
        font-size: 100px;
        opacity: 80%;
        margin: 0 0 0 15px;
        padding: 0 5px;
    }  

    h6 {
        color: white;
        text-align: right;
        font-family: 'Staatliches','Times New Roman', Times, serif;
        font-size: 50px;
        opacity: 80%;
        padding-right: 250px;
    }
    
    header {
        text-align: center;
        font-size: 50px;
        margin-top: 5px;
    }

}